@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600;800;900&display=swap');

$font: 'Inter', sans-serif;

$color-primary:#FF7629;
$color-secundary-1:#DF6019;
$color-secundary-2:#FFF6F1;
$color-neutral-800:#131313;
$color-neutral-700:#3B3B3B;
$color-neutral-600:#696969;
$color-neutral-500:#9F9D9D;
$color-neutral-400:#D0D0D0;
$color-neutral-300:#E7E7E7;
$color-neutral-200:#FAFAFA;
$color-neutral-100:#FFFFFF;
$color-orange-400:#D5691B;
$color-orange-300:#FF9E2C;
$color-orange-200:#FFD19B;
$color-orange-100:#FFF3E4;